@font-face {
	font-family: 'DidotBold';
	src: url('fonts/DidotBold.eot');
	src: local('☺'), url('fonts/DidotBold.woff') format('woff'), url('fonts/DidotBold.ttf') format('truetype'), url('fonts/DidotBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Brandon';
	src: url('fonts/Brandon.eot');
	src: local('☺'), url('fonts/Brandon.woff') format('woff'), url('fonts/Brandon.ttf') format('truetype'), url('fonts/Brandon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BrandonBold';
	src: url('fonts/BrandonBold.eot');
	src: local('☺'), url('fonts/BrandonBold.woff') format('woff'), url('fonts/BrandonBold.ttf') format('truetype'), url('fonts/BrandonBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonLight';
	src: url('fonts/BrandonLight.eot');
	src: local('☺'), url('fonts/BrandonLight.woff') format('woff'), url('fonts/BrandonLight.ttf') format('truetype'), url('fonts/BrandonLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
html {
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}
body {
	background-color: #ffffff;
	color: #000000;
        text-transform: uppercase;
        border: 25px solid #d60c8c;
	font-family: Brandon, Helvetica, sans-serif;
        font-family: "BrandonLight",Helvetica, sans-serif;;
	margin: 0px;
	padding: 0px;
}
body, td, th, input, textarea, select, a {
	font-size: 14px;
}
h1, .welcome {
	color: #231f20;
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 32px;
	font-weight: normal;
	text-shadow: 0 0 1px rgba(0, 0, 0, .01);
}
h2 {
	color: #000000;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 5px;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
}
a,  a b {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
a img {
	border: none;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 3px;
	margin-left: 0px;
	margin-right: 0px;
}
select {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 2px;
}
label {
	cursor: pointer;
}
/* layout */
#container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#column-left {
	float: left;
	width: 220px;
           border-right: 1px solid #ccc7cd;
           min-height: 800px;
           margin-bottom: 20px;
}
#column-left .sbHolder {
    width: 170px;
}
#column-left .sbHolder  .sbOptions {
    width: 195px;
}
#column-right {
	float: right;
	width: 180px;
}
#content {
	min-height: 400px;
	margin-bottom: 25px;
}
#column-left + #column-right + #content, #column-left + #content {
	margin-left: 240px;
}
#column-right + #content {
	margin-right: 240px;
}
/* header */
#header {
	height: 150px;
	margin-bottom: 7px;
	padding-bottom: 4px;
	position: relative;
	z-index: 99;
}
#header #logo {
	 left: 50%;
    margin-left: -185px;
    position: absolute;
     top: 62px;
}
#language {
	position: absolute;
	top: 15px;
	left: 320px;
	width: 80px;
	color: #999;
	line-height: 17px;
}
#language img {
	cursor: pointer;
	margin-right: 5px;
}
#currency {
	width: 75px;
	position: absolute;
	top: 15px;
	left: 425px;
	color: #999;
	line-height: 17px;
}
#currency a {
	display: inline-block;
	padding: 2px 4px;
	border: 1px solid #CCC;
	color: #999;
	text-decoration: none;
	margin-right: 2px;
	margin-bottom: 2px;
}
#currency a b {
	color: #000;
	text-decoration: none;
}
#header #cart {
	position: absolute;
	top: 0px;
	right: 145px;
	z-index: 9;
	min-width: 300px;
}
#header #cart .heading {
	float: right;
	margin-right: 172px;
	margin-top: 15px;
	padding-left: 14px;
	padding-right: 14px;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #EEEEEE;
	background: #FFF;
	position: relative;
	z-index: 1;
}
#header #cart .heading h4 {
	color: #333333;
	font-size: 15px;
	font-family: "BrandonBold",Helvetica,sans-serif;
	margin-top: 0px;
	margin-bottom: 3px;
}
#header #cart .heading a {
	color: #38B0E3;
	text-decoration: none;
}
b, strong,h1,h2,h3,h4,h5 {
    font-family: "BrandonBold",Helvetica,sans-serif;font-weight: normal;
}
#header #cart .heading a span {
	background: #FFFFFF url('image/arrow-down.png') 100% 50% no-repeat;
	padding-right: 15px;
}
#header #cart .content {
	clear: both;
	display: none;
	position: relative;
	top: -1px;
	padding: 8px;
	min-height: 150px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	-webkit-border-radius: 0px 7px 7px 7px;
	-moz-border-radius: 0px 7px 7px 7px;
	-khtml-border-radius: 0px 7px 7px 7px;
	border-radius: 0px 7px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #d60c8c;
	-moz-box-shadow: 0px 2px 2px #d60c8c;
	box-shadow: 0px 2px 2px #d60c8c;
	background: #FFF;
}
#header #cart.active .heading {
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 6px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}
#header #cart.active .content {
	display: block;
}
.mini-cart-info table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
.mini-cart-info td {
	color: #000;
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #EEEEEE;
}
.mini-cart-info .image {
	width: 1px;
}
.mini-cart-info .image img {
	border: 1px solid #EEEEEE;
	text-align: left;
}
.mini-cart-info .name small {
	color: #666;
}
.mini-cart-info .quantity {
	text-align: right;
}
.mini-cart-info td.total {
	text-align: right;
}
.mini-cart-info .remove {
	text-align: right;
}
.mini-cart-info .remove img {
	cursor: pointer;
}
.mini-cart-total {
	text-align: right;
}
.mini-cart-total table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 5px;
}
.mini-cart-total td {
	color: #000;
	padding: 4px;
}
#header #cart .checkout {
	text-align: right;
	clear: both;
}
#header #cart .empty {
	padding-top: 50px;
	text-align: center;
}
#header #search {
	left: 910px;
    position: absolute;
    top: -25px;
    width: auto;
    z-index: 15;
}
#header .button-search {
	position: absolute;
	left: 0px;
	background: url('../image/button-search.png') center center no-repeat;
	width: 22px;
	height: 22px;
	cursor: pointer;    
        z-index: 9;
}
#header:hover #search input {
    -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 21s ease-in-out;
}
#header #search input {
	background: #FFF;
	padding: 1px 1px 1px 1px;
	width: 262px;
        display: none;opacity: 0;
	height: 21px;visibility: hidden;
	border: 1px solid #d60c8c;
	 position: absolute;
        right: -24px;
        top: 25px;
       width: 153px;
       -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 21s ease-in-out;
}
#header #welcome {
	  background: none repeat scroll 0 0 white;
    color: #000;
    height: 25px;
    left: 632px;
    line-height: 25px;
    position: absolute;
    text-align: center;
    top: -25px;
    width: 145px;
    z-index: 5;
}
#header #welcome  a {
    color: #000;  font-size: 12px;
	text-decoration: none;
}
#header .links {
	padding-right: 0;
    position: absolute;
    right: 0;
    top: 14px;
}
.social {
     position: absolute;
    right: 0;
    top: 105px;
}
.social a{
    float: left;
    display: block;
    margin: 5px;
    width: 25px;
    height: 25px;text-indent: -9999px;
    background-size: 100%;
}
.facebook {
     background: url("../image/facebook.png") no-repeat left center;
}
.tiwtter {
     background: url("../image/tiwtter.png") no-repeat left center;
}
.diagram {
     background: url("../image/diagram.png") no-repeat left center;
}
.printest {
     background: url("../image/printest.png") no-repeat left center;
}
#header .links a {
	float: left;
	display: block;
	padding: 1px 0px 0px 7px;
	color: #000;
	text-decoration: none;
	font-size: 12px;
}
#header .links a + a {
	margin-left: 8px;
        padding-left: 25px;
        background: url("../image/heart.png") no-repeat left center;
}
#content {
    position: relative;
}
.welcome {
    display:none;
}
.notice {
  color: #fae4f2;
    font-size: 12px;
    left: 320px;
    position: absolute;
    text-transform: uppercase;
    top: -21px;
}
.livechat {
       background: none repeat scroll 0 0 #0d1035;
    height: 25px;
    left: 777px;
    line-height: 25px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: -25px;
    width: 130px; 
}
.livechat a {color: white;text-decoration: none; font-size: 12px;}
/* menu */
#menu {
	 min-height: 35px;
	margin-bottom: 15px;	
	padding: 0px 5px;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu > ul > li {
	position: relative;
	float: left;
	z-index: 20;
	padding: 6px 10px 5px;
}
#menu > ul > li:hover {
}
#menu > ul > li > a {
	color: #000000;
	line-height: 14px;
	text-decoration: none;
	display: block;
	padding: 6px 10px 6px 10px;
        text-transform: uppercase;
	z-index: 6;
	position: relative;
}
#menu > ul > li:hover > a {
    color:#da3189;
}
#menu > ul > li > div {
	display: none;
	background: #da3189;
	position: absolute;
	z-index: 5;
	padding: 5px;
	border: 1px solid #da3189;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}
#menu > ul > li:hover > div {
	display: table;
}
#menu > ul > li > div > ul {
	display: table-cell;
}
#menu > ul > li ul + ul {
	padding-left: 20px;
}
#menu > ul > li ul > li > a {
	text-decoration: none;
	padding: 4px;
	color: #FFFFFF;
	display: block;
	white-space: nowrap;
	min-width: 120px;
}
#menu > ul > li ul > li > a:hover {
	background: #000000;
}
#menu > ul > li > div > ul > li > a {
	color: #FFFFFF;
}
.breadcrumb {
	color:#6d6e71;
	margin-bottom: 20px;
}
.addthis_button_compact {
    color:#d50c8c;
}
.breadcrumb a {
    color:#6d6e71;
}
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.success {
	background: #EAF7D9 url('image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.warning {
	background: #FFD1D1 url('image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.attention {
	background: #FFF5CC url('image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-family: "BrandonBold",Helvetica,sans-serif;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #000000;
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	width: 300px;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #d60c8c;
	border-left: 1px solid #d60c8c;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #d60c8c;
	border-bottom: 1px solid #d60c8c;
}
table.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-family: "BrandonBold",Helvetica,sans-serif;
}
table.list tbody td {
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.radio {
	width: 100%;
	border-collapse: collapse;
}
table.radio td {
	padding: 5px;
}
table.radio td label {
	display: block;
}
table.radio tr td:first-child {
	width: 1px;
}
table.radio tr td:first-child input {
	margin-top: 1px;
}
table.radio tr.highlight:hover td {
	background: #F1FFDD;
	cursor: pointer;
}
.pagination {
	padding-top: 18px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.pagination .links {
	float: right;
}
.pagination .links a {
	display: inline-block;
	
	border: 1px solid #d50c8c;
	padding: 4px 10px;
	text-decoration: none;
	color: #A3A3A3;
}
.pagination .links b {
	display: inline-block;
	border: 1px solid #d50c8c;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #A3A3A3;
	background: #fff;
}
.pagination .results {
	float: left;
	padding-top: 3px;
}
/* button */
.name {
    min-height: 42px;
}
a.button, input.button,.quickview {
	 background: none repeat scroll 0 0 #000;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Brandon,Helvetica,sans-serif;
    font-size: 11px;
    height: 19px;
    line-height: 19px;
    padding: 0 5px;
    text-transform: uppercase;
    vertical-align: middle;
}
.cart .wishlist {
    display:inline-block;
}
.cart .wishlist a {
     display: inline-block;
      vertical-align: middle;
      text-indent: -9999px;
      height: 21px;width: 25px;
      background: url('../image/wishlist.png')no-repeat;
}
.cart .wishlist a:visted {
     background: url('../image/heart.png')no-repeat;
}
.cart .button ,.tab-content .box-product .button {    
    display: inline-block;
    text-indent: -9999px;
    height: 19px;
    padding: 0;
    vertical-align: middle;
    margin: 0 2px;
    width: 60px;
    background: url('../image/button.png')no-repeat;
}
.cart .button:hover ,.tab-content .box-product .button:hover{
    background: url('../image/button.png')no-repeat;
}
a.button {
	display: inline-block;
	text-decoration: none;
	padding: 6px 12px 6px 12px;
}
input.button {
	margin: 0;
	border: 0;
	height: 24px;
	padding: 0px 12px 0px 12px;
}
a.button:hover, input.button:hover {
	background-position: 0px -24px;
}
.buttons {
	background: #FFFFFF;
	border: 1px solid #d60c8c;
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
	height: 32px;
	line-height: 16px;
}
.htabs a {
	border: 1px solid #e049a9;
	background:#e049a9;
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: Brandon, Helvetica, sans-serif;
	font-size: 13px;
	font-family: "BrandonBold",Helvetica,sans-serif;
	text-align: center;
	text-decoration: none;
	color: #fff;
	display: none;
}
.htabs a:nth-child(3) {
    border-left:1px solid white;
}
.htabs a.selected  + a:nth-child(3) ,.htabs a.selected   {
    border-left:1px solid #e049a9;
}
.htabs a.selected {
	background: #FFFFFF;
        color:#58585a;
}
.tab-content {
	padding: 10px 0 ;
	margin-bottom: 20px;
	z-index: 2;        
	overflow: auto;
}
/* box */
.box {
	margin: 10px 0;
}
.box .box-heading.withLine {
	position: relative;text-align: center;
	padding: 8px 10px 7px 10px;
	font-family: Brandon, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 14px;
        position: relative;
        z-index: 1;
        margin: 0 auto 20px;
        width: 190px;background: white;
}
.box .box-heading + hr {
    position: relative;
    top: -36px;
}
hr {
      background: none repeat scroll 0 0 #818285;
    border-bottom: 1px solid #e8e8e9;
    border-right:none;border-left:none;
    border-top: 1px solid #e8e8e9;
    height: 3px;
}
.box .box-content {
	
	padding: 10px;
}
/* box products */
.box-product {
	width: 100%;
	overflow: auto;
        text-align: center;
}
.box-product > div {
    display: inline-block;
    margin-bottom: 16px;
    margin-left: 4px;
    margin-right: 4px;
    text-align: left;
    vertical-align: top;
    width: 180px;
}
.tab-content  .box-product > div {
    display: block;
    float:left;
    width: 165px;
}
img {
    max-width: 100%;
}
#column-left + #column-right + #content .box-product > div {
	width: 119px;
}
.box-product .image {
	display: block;
	margin-bottom: 0px;
}
.box-product .image img {
}
.box-product .name a {
	color: #000;
	text-decoration: none;
	display: block;
        font-family: "BrandonLight";
	margin-bottom: 4px;
}
.manufacturer-name {
    font-family: "BrandonBold";
    text-decoration: none;
    display: block;
}
.box-product .price {
	display: block;
	margin-bottom: 4px;
}
.box-product .price-old {
	color: #F00;
	text-decoration: line-through;
}
.box-product .price-new {
}
.box-product .rating {
	display: block;
	margin-bottom: 4px;
}
/* box category */
ul.box-category, ul.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.box-category > li a,ul.box-filter li{
	padding: 8px 8px 8px;
        background: #fae6f3;
     display:block;
}
ul.box-category > li  a.active ,ul.box-filter li.active {
     background: #231f20;
     color:white;
}
ul.box-filter li.active {
    
}
ul.box-category > li + li,ul.box-filter li + li {
	border-top: 1px solid #ccc7cd;
}

ul.box-filter > li ul {
    margin: 0 -8px;
    padding-bottom: 10px;
}
.box .box-content .box-category,body ul.box-filter{
    margin:0 -10px;
}
ul.box-category > li > a {
	text-decoration: none;
	color: #333;
        font-family: "BrandonBold",Helvetica,sans-serif;
}
ul.box-category > li ul {
	display: none;
}
ul.box-category > li a.active {
	font-family: "BrandonBold",Helvetica,sans-serif;
}
ul.box-category > li a.active + ul {
	display: block;
}
ul.box-category > li ul > li {
	padding: 5px 5px 0px 10px;
}
ul.box-category > li ul > li > a {
	text-decoration: none;
	display: block;
}
ul.box-category > li ul > li > a.active {
	font-family: "BrandonBold",Helvetica,sans-serif;
}
/* box filter */
ul.box-filter li.first {
    background:white;
}
ul.box-filter li.first + .first {
    border:none!important;
}
ul.box-filter, ul.box-filter ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.box-filter li a ,.results,.backtotop{
    font-family: "BrandonBold",Helvetica,sans-serif;
}
#tab-related .box-product > div {
    display: block;
    float:left;
}
ul.box-filter span, .define-title{
	font-family: "DidotBold",Helvetica,sans-serif;
	display: block;font-size: 18px;
        color:#b7995b;text-transform: capitalize;
}
.manuff_block .define-title{
     padding-bottom: 10px;
}
span[id^="filter-group"] {
    margin-left: -8px;
    padding-bottom: 10px;
}
ul.box-filter span span ,.define-title span{
	display:inline;
        color:#d50c8c;
}
ul.box-filter > li ul {
	padding-bottom: 10px;
}
/* content */
#content .content {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border:1px solid #d60c8c
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}
/* category */
.category-info {
	overflow: auto;
	margin-bottom: 20px;
}
.category-info .image {
	float: left;
	padding: 5px;
	margin-right: 15px;
	border: 1px solid #E7E7E7;
}
.category-list {
	overflow: auto;
	margin-bottom: 20px;
}
.category-list ul {
	float: left;
	width: 18%;
}
/* manufacturer */
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-family: "BrandonBold",Helvetica,sans-serif;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/* product */
.product-filter {
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 15px;
        min-height: 40px;
}
.product-filter .display {
	margin-right: 15px;
	float: left;
	padding-top: 4px;
	color: #333;
}
.product-filter .display a {
	font-family: "BrandonBold",Helvetica,sans-serif;
}
.product-filter .sort {
	float: right;
	color: #333;
}
.product-filter .limit {
	margin-left: 15px;
	float: right;
	color: #333;
}
.product-compare {
	padding-top: 6px;
	margin-bottom: 25px;
	font-family: "BrandonBold",Helvetica,sans-serif;
}
.product-compare a {
	text-decoration: none;
	font-family: "BrandonBold",Helvetica,sans-serif;
}
.product-list > div {
	overflow: auto;
	margin-bottom: 15px;
}
.product-list .right {
	float: right;
	margin-left: 15px;
}
.product-list > div + div {
	border-top: 1px solid #EEEEEE;
	padding-top: 16px;
}
.product-list .image {
	float: left;
	margin-right: 10px;
}
.product-list .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.product-list .name {
	margin-bottom: 3px;
}
.product-list .name a {
	color: #38B0E3;
	font-family: "BrandonBold",Helvetica,sans-serif;
	text-decoration: none;
}
.product-list .description {
	line-height: 15px;
	margin-bottom: 5px;
	color: #4D4D4D;
}
.product-list .rating {
	color: #7B7B7B;
}
.product-list .price {
	float: right;
	height: 50px;
	margin-left: 8px;
	text-align: right;
	color: #333333;
	font-size: 12px;
}
.product-list .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-list .price-new {
	font-family: "BrandonBold",Helvetica,sans-serif;
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #BBBBBB;
}
.product-list .cart {
	margin-bottom: 3px;
}
.product-list .wishlist, .product-list .compare {
	margin-bottom: 3px;
}
.product-list .wishlist a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('image/add.png') left center no-repeat;
}
.product-list .compare a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('image/add.png') left 60% no-repeat;
}
.product-grid {
	width: 100%;
	overflow: auto;
}
.product-grid > div {
 display: block;
    float: left;
    margin: 15px 12px 15px 0;
    vertical-align: top;
    width: 171px;
    
}
.backtotop {
    color:#d50c8c;text-decoration: underline;
}
#column-left + #column-right + #content .product-grid > div {
	width: 125px;
}
.product-grid .image {
	display: block;text-align: center;
	margin-bottom: 10px;
}
.product-grid .image img {
}
.product-grid .name a {
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
}
.product-grid .brand {
	font-family: "BrandonBold",Helvetica,sans-serif;
}
.product-grid .description {
	display: none;
}
.product-grid .rating {
	display: block;
	margin-bottom: 4px;
}
.product-grid .price {
	display: block;
	font-family: "BrandonBold",Helvetica,sans-serif;
	margin-bottom: 4px;
}
.product-grid .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-grid .price-new {
	font-family: "BrandonBold",Helvetica,sans-serif;
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .cart {
	margin-bottom: 3px;
}

/* Product */
.product-info {
	overflow: auto;
	margin-bottom: 20px;
}
.product-info > .left {
	float: left;
        width: 250px;
}
.product-info > .left + .right {
	margin-left: 280px;
}
.product-info .left .image {
	border: 1px solid #E7E7E7;
	float: left;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
}
.product-info .image-additional {
	width: 260px;
	clear: both;
}
.product-info .image-additional img {
	border: 1px solid #E7E7E7;
}
.product-info .image-additional a {
	float: left;
	display: block;
	margin-right: 10px;
	margin-bottom: 5px;
}
.product-info .description {
	
	margin-bottom: 10px;
	line-height: 20px;
	color: #4D4D4D;
}
.options b {
   font-family: "BrandonLight",Helvetica,sans-serif;
    font-weight: 400;
}
.product-info .description a {
	color: #4D4D4D;
	text-decoration: none;
}
.product-info .price {
	font-family: "BrandonBold",Helvetica,sans-serif;
	color: #333333;
}
.product-info .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-info .price-new {
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
}
.product-info .options {
	margin-bottom: 10px;
	color: #000000;
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	
	width: 100%;
	height: 100%;
}
.product-info .option-image  li {
    margin:0;padding:0;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
.right-content{float: right;    width: 55%;}
.product-info .option-image li.selected img{
    border: 2px solid #d50c8c;
}
.product-info .option-image img {
	margin-right: 5px;max-width: 30px;
	border: 1px solid #6d6e71;
	cursor: pointer;
}
.product-info .cart {
	margin-bottom: 20px;
}
.product-info .right-content .cart {
	border: 1px solid #d50c8c;
        padding: 10px;
}
.button-container {text-align: right;}
.button-container .button ,.button-container .button:hover{
    background: url("../image/add-to-basket.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    height: 22px;
    width: 140px;
    margin: 0 0 10px 0;
}
.button-container .links a {
    background: url("../image/add-to-love.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    height: 22px;
    text-indent: -9999px;
    width: 140px;    display: inline-block;
}

.left-content {
    float: left;
}
.product-info .cart div > span {
	color: #999;
}
.product-info .cart .links {
	display: inline-block;
	vertical-align: middle;
}
.product-info .cart .minimum {
	padding-top: 5px;
	font-size: 11px;
	color: #999;
}
.product-info .review {
	margin-bottom: 10px;
}
.review a {
    font-size: 11px;
}
.product-info .review > div {
	padding: 8px;
	line-height: 20px;
}
.product-info .review > div > span {
	color: #38B0E3;
}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
}
.review-list {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}
.review-list .author {
	float: left;
	margin-bottom: 20px;
}
.review-list .rating {
	float: right;
	margin-bottom: 20px;
}
.review-list .text {
	clear: both;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #d60c8c;
	border-left: 1px solid #d60c8c;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-family: "BrandonBold",Helvetica,sans-serif;
	background: #F7F7F7;
	text-align: left;
}
.attribute tr td:first-child {
	color: #000000;
	font-family: "BrandonBold",Helvetica,sans-serif;
	text-align: right;
	width: 20%;
}
.attribute td {
	padding: 7px;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #d60c8c;
	border-bottom: 1px solid #d60c8c;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #d60c8c;
	border-left: 1px solid #d60c8c;
	margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-family: "BrandonBold",Helvetica,sans-serif;
	background: #F7F7F7;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #000000;
	font-family: "BrandonBold",Helvetica,sans-serif;
	text-align: right;
}
.compare-info td {
	padding: 7px;
	width: 20%;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #d60c8c;
	border-bottom: 1px solid #d60c8c;
}
.compare-info .name a {
	font-family: "BrandonBold",Helvetica,sans-serif;
}
.compare-info .price-old {
	font-family: "BrandonBold",Helvetica,sans-serif;
	color: #F00;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-family: "BrandonBold",Helvetica,sans-serif;
}
/* wishlist */
.wishlist-info table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #d60c8c;
	border-left: 1px solid #d60c8c;
	border-right: 1px solid #d60c8c;
	margin-bottom: 20px;
}
.wishlist-info td {
	padding: 7px;
}
.wishlist-info thead td {
	color: #4D4D4D;
	font-family: "BrandonBold",Helvetica,sans-serif;
	background-color: #F7F7F7;
	border-bottom: 1px solid #d60c8c;
}
.wishlist-info thead .image {
	text-align: center;
}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {
	text-align: left;
}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
	text-align: right;
}
.wishlist-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #d60c8c;
}
.wishlist-info tbody .image img {
	border: 1px solid #d60c8c;
}
.wishlist-info tbody .image {
	text-align: center;
}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {
	text-align: left;
}
.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {
	text-align: right;
}
.wishlist-info tbody .price s {
	color: #F00;
}
.wishlist-info tbody .action img {
	cursor: pointer;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* orders */
.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-family: "BrandonBold",Helvetica,sans-serif;
}
/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-model {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-quantity {
	float: left;
	width: 31%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-captcha {
	float: left;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info table {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
	border-top: 1px solid #d60c8c;
	border-left: 1px solid #d60c8c;
	border-right: 1px solid #d60c8c;
}
.cart-info td {
	padding: 7px;
}
.cart-info thead td {
	color: #4D4D4D;
	font-family: "BrandonBold",Helvetica,sans-serif;
	background-color: #F7F7F7;
	border-bottom: 1px solid #d60c8c;
}
.cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
	text-align: left;
}
.cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #d60c8c;
}
.cart-info tbody .image img {
	border: 1px solid #d60c8c;
}
.cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
	text-align: left;
}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
	position: relative;
	top: 4px;
	cursor: pointer;
}
.cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-family: "BrandonBold",Helvetica,sans-serif;
}
.cart-module > div {
	display: none;
}
.cart-total {
	border-top: 1px solid #d60c8c;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
/* checkout */
.checkout-heading {
	background: #F8F8F8;
	border: 1px solid #d60c8c;
	padding: 8px;
	font-family: "BrandonBold",Helvetica,sans-serif;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content .buttons {
	clear: both;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #d60c8c;
	border-left: 1px solid #d60c8c;
	border-right: 1px solid #d60c8c;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	color: #4D4D4D;
	font-family: "BrandonBold",Helvetica,sans-serif;
	background-color: #F7F7F7;
	border-bottom: 1px solid #d60c8c;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #d60c8c;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
	border-bottom: 1px solid #d60c8c;
}
.contact-info {
	overflow: auto;
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}
/* footer */ 
#footer {
	clear: both;
	overflow: auto;
	min-height: 100px;
	padding: 20px;
	border-top: 4px solid #d60c8c;
}
#footer h3 {
	color: #000000;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 8px;
        font-family: "BrandonBold",Helvetica,sans-serif
}
#footer .column {
	float: left;
	width: 25%;
	min-height: 100px;
}
#footer .column ul {
	margin-top: 0px;
	margin-left: 0;
	padding-left: 0;
}
#footer .column ul li {
	margin-bottom: 3px;
        list-style: none;
}
#footer .column a {
	text-decoration: none;
	color: #979798;
}
#footer .column a:hover {
	text-decoration: underline;
}
#container {position: relative;}
#powered {
	bottom: -24px;
    clear: both;
    color: white;
    margin-top: 5px;
    position: absolute;
    font-size: 12px;
    right: 0;
    text-align: right;
}
#powered a {
    color: white;
}
/* banner */
.banner div {
	text-align: center;
	width: 100%;
	display: none; 
}
.banner div img {
	margin-bottom: 20px;
}
#banner1,#banner2,#banner3 {
        float: left;
        width: 33.3333%;
        margin:20px 0;
}